@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.torontocentre.intercontinental.com/resourcefiles/mainimages/intercontinental-toronto-centre-amenities-fitness-membership-top.jpg" alt="Alternate Text" />
    <h1 class="display-4">Sports and Nutrition Mart</h1>
    <p class="lead">This is the website where you can find the best fitness products and equipments for your use.</p>
    <hr class="my-4">
    <p>Be fit be moving!!! </p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


<div class="text-center">
    <h1 class="display-4">Enjoy</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
